{% extends 'base.html' %}


{% block content %}
<section class="cart-section clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- cart_table -->
                        <table class="table cart_table shop_table_responsive">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item">
                                    <td class="product-thumbnail">
                                        <a href="product-layout1.html">
                                            <img class="img-fluid" src="images/product/pro-front-01.png" alt="product-img">
                                        </a>
                                    </td>
                                    <td class="product-name" data-title="Product">
                                        <a href="product-layout1.html">Reel Fiberglass Tape</a>
                                        <span>Raising a heavy fur muff that covered the viewer regook oe window.</span>
                                    </td>
                                    <td class="product-price" data-title="Price">
                                        <span class="Price-amount">
                                            <span class="Price-currencySymbol">$</span>40.00
                                        </span>
                                    </td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <input type="text" value="2" name="quantity-number" class="qty"  size="4">
                                            <span class="inc quantity-button">+</span>
                                            <span class="dec quantity-button">-</span>
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">
                                        <span class="Price-amount">
                                            <span class="Price-currencySymbol">$</span>40.00
                                        </span>
                                    </td>
                                    <td class="product-remove">
                                        <a href="#" class="remove">×</a>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-thumbnail">
                                        <a href="product-layout1.html">
                                            <img class="img-fluid" src="images/product/pro-front-02.png" alt="product-img">
                                        </a>
                                    </td>
                                    <td class="product-name" data-title="Product">
                                        <a href="product-layout1.html">Impact Wrench</a>
                                        <span>Raising a heavy fur muff that covered the viewer regook oe window.</span>
                                    </td>
                                    <td class="product-price" data-title="Price">
                                        <span class="Price-amount">
                                            <span class="Price-currencySymbol">$</span>110.00
                                        </span>
                                    </td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <input type="text" value="2" name="quantity-number" class="qty"  size="4">
                                            <span class="inc quantity-button">+</span>
                                            <span class="dec quantity-button">-</span>
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">
                                        <span class="Price-amount">
                                            <span class="Price-currencySymbol">$</span>18.00
                                        </span>
                                    </td>
                                    <td class="product-remove">
                                        <a href="#" class="remove">×</a>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-thumbnail">
                                        <a href="product-layout1.html">
                                            <img class="img-fluid" src="images/product/pro-front-03.png" alt="product-img">
                                        </a>
                                    </td>
                                    <td class="product-name" data-title="Product">
                                        <a href="product-layout1.html">Demolition Breaker</a>
                                        <span>Raising a heavy fur muff that covered the viewer regook oe window.</span>
                                    </td>
                                    <td class="product-price" data-title="Price">
                                        <span class="Price-amount">
                                            <span class="Price-currencySymbol">$</span>38.00
                                        </span>
                                    </td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <input type="text" value="2" name="quantity-number" class="qty"  size="4">
                                            <span class="inc quantity-button">+</span>
                                            <span class="dec quantity-button">-</span>
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">
                                        <span class="Price-amount">
                                            <span class="Price-currencySymbol">$</span>18.00
                                        </span>
                                    </td>
                                    <td class="product-remove">
                                        <a href="#" class="remove">×</a>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-thumbnail">
                                        <a href="product-layout1.html">
                                            <img class="img-fluid" src="images/product/pro-front-04.png" alt="product-img">
                                        </a>
                                    </td>
                                    <td class="product-name" data-title="Product">
                                        <a href="product-layout1.html">Cordless Drywall Cutter</a>
                                        <span>Raising a heavy fur muff that covered the viewer regook oe window.</span>
                                    </td>
                                    <td class="product-price" data-title="Price">
                                        <span class="Price-amount">
                                            <span class="Price-currencySymbol">$</span>82.00
                                        </span>
                                    </td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <input type="text" value="2" name="quantity-number" class="qty"  size="4">
                                            <span class="inc quantity-button">+</span>
                                            <span class="dec quantity-button">-</span>
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">
                                        <span class="Price-amount">
                                            <span class="Price-currencySymbol">$</span>18.00
                                        </span>
                                    </td>
                                    <td class="product-remove">
                                        <a href="#" class="remove">×</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="actions">
                                        <div class="coupon">
                                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-icon-btn-left ttm-btn-color-skincolor" href="#"><i class="ti ti-arrow-left"></i>Back To Shop</a>
                                        </div>
                                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-icon-btn-left ttm-btn-color-skincolor" href="#"><i class="ti ti-reload"></i>Update</a>
                                        <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-icon-btn-left ttm-btn-color-skincolor" href="#"><i class="ti ti-close"></i>Clear All</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <!-- cart-collaterals -->
                        <div class="cart-collaterals">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="cart_shipping mt-30">
                                        <h5>Calculate Shipping<span class="ti ti-angle-down"></span></h5>
                                        <p class="text-input orderby">
                                            <select><option>United Kingdom (UK)</option>
                                                    <option>Other</option>
                                            </select>
                                        </p>
                                        <p class="text-input"><input type="text" class="input-text zip-code" name="shipping_name" placeholder="Postal Code / Zip"></p>
                                        <div class="pt-20">
                                            <p class="text-input"><input type="button" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" name="update_cart" value="update total"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="cart_discount mt-30">
                                        <h5>Coupon Discount<span class="ti ti-angle-down"></span></h5>
                                        <p class="pt-10">Enter Your Coupon Code If You Have Done.</p>
                                        <p class="text-input"><input type="text" class="input-text zip-code" name="shipping_name" placeholder="Coupon Code"></p>
                                        <div class="pt-20">
                                            <p class="text-input"><input type="button" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" name="update_cart" value="Apply Coupon"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="cart_totals res-767-mt-30">
                                        <h5>Cart totals<span>$1450.00</span></h5>
                                        <h5>Shipping</h5>
                                        <p class="text-input">
                                            <input type="radio" name="grpShipping" value="Male" Checked>Standard<span>+ $10.00</span>
                                        </p>
                                        <p class="text-input">
                                            <input type="radio" name="grpShipping" value="Female">Standard<span>+ $10.00</span>
                                        </p>
                                        <h5>Total<span>$1460.00</span></h5>
                                    </div>
                                    <div class="proceed-to-checkout">
                                        <a href="#" class="checkout-button button">Proceed to checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- cart-collaterals end-->
                    </div>
                </div>
            </div>
        </section>
{% endblock %}