{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
Shop
{% endblock %}

{% block breadcrumps %}
    <span class="ttm-textcolor-skincolor">Shop</span>
{% endblock %}

{% block content %}


    <div class="site-main">

        <!--shop-views-section-->
        <section class="shop-views-section clearfix">
             <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">

                        <div class="ttm-shop-toolbar-wrapper">
                            <div class="row">
                                <div class="col-md-6 toolbar-left">
                                    <form class="products-result-count" method="get">
                                        <div class="orderby">
                                            <label>Show: </label>
                                            <select name="orderby" class="select2-hidden-accessible">
                                                <option value="0" selected="selected">01</option>
                                                <option value="showtby">14</option>
                                                <option value="showtby">15</option>
                                                <option value="showtby">16</option>
                                                <option value="showtby">17</option>
                                                <option value="showtby">18</option>
                                                <option value="showtby">19</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 toolbar-right">
                                    <form class="products-ordering text-right" method="get">
                                        <div class="orderby">
                                            <label>Sort by: </label>
                                            <select name="orderby" class="select2-hidden-accessible">
                                                <option value="menu_order" selected="selected">Sales High To low</option>
                                                <option value="sortby">price: low to high</option>
                                                <option value="sortby">price: high to low</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content" id="myTabContent">
                                <div class="row">
                                    <!-- product -->
                                    {% for product in product_list %}

                                    <div class="product col-md-3 col-sm-6 col-xs-12">
                                        <div class="product-box">
                                            <!-- product-box-inner -->
                                            <div class="product-box-inner">
                                                <div class="product-image-box">
                                                    <img class="img-fluid pro-image-front" src="{{ product.images.first.file.url }}" alt="">
                                                    <img class="img-fluid pro-image-back" src="{{ product.images.last.file.url }}" alt="">
                                                </div>
                                                <div class="product-btn-links-wrapper">
                                                    <div class="product-btn"><a href="#" class="add-to-cart-btn tooltip-top" data-tooltip="Add To Cart"><i class="ti ti-shopping-cart"></i></a>
                                                    </div>
                                                    <div class="product-btn"><a href="#" class="quick-view-btn js-show-modal1 tooltip-top" data-tooltip="Quick View"><i class="ti ti-search"></i></a>
                                                    </div>
                                                    <div class="product-btn"><a href="#" class="wishlist-btn tooltip-top" data-tooltip="Add To Wishlist"><i class="ti ti-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div><!-- product-box-inner end -->
                                            <div class="product-content-box">
                                                <a class="product-title" href="{% url 'product' pk=product.pk %}">
                                                    <h2>{{ product.product_name }}</h2>
                                                </a>
                                                <div class="star-ratings">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="price">
                                                    <span class="product-Price-amount">
                                                        <span class="product-Price-currencySymbol">$</span>40.00
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                </div>
                        </div>
                        <div class="pagination-block res-991-mt-0 align-content-center">
                    {% bootstrap_pagination page_obj %}
                        </div>
{#                        <div class="pagination-block res-991-mt-0">#}
{#                            <span class="page-numbers current">1</span>#}
{#                            <a class="page-numbers" href="#">2</a>#}
{#                            <a class="page-numbers" href="#">3</a>#}
{#                            <a class="next page-numbers" href="#"><i class="ti ti-arrow-right"></i></a>#}
{#                        </div>#}
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--team-section end-->


    </div>


{% endblock %}